.DS_Store
publications/cpaior2020.mp4
publications/BACP_CHOCO.tgz
publications/MarcAndre_Menard_IJCAI2020_version_courte.mp4
publications/MarcAndre_Menard_IJCAI2020_version_longue.mp4
publications/cp2020.mp4
